global:
  scrape_interval: {{ prometheus_global_scrape_interval }}
  evaluation_interval: {{ prometheus_global_evaluation_interval }}

rule_files:
  - /etc/prometheus/rules/alerts.yml

scrape_configs:
{% for job in prometheus_scrape_jobs %}
  - job_name: {{ job.job_name | to_json }}
{% if job.scheme is defined %}
    scheme: {{ job.scheme }}
{% endif %}
{% if job.metrics_path is defined %}
    metrics_path: {{ job.metrics_path | to_json }}
{% endif %}
{% if job.basic_auth | default(false) and prometheus_actuator_basic_auth_password | length > 0 %}
    basic_auth:
      username: {{ prometheus_actuator_basic_auth_user | to_json }}
      password: {{ prometheus_actuator_basic_auth_password | to_json }}
{% endif %}
{% if job.tls_config is defined %}
    tls_config:
{% for key, value in job.tls_config.items() %}
      {{ key }}: {{ value | to_json }}
{% endfor %}
{% endif %}
    static_configs:
{% for static_config in job.static_configs %}
      - targets:
{% for target in static_config.targets %}
          - {{ target | to_json }}
{% endfor %}
{% if static_config.labels is defined %}
        labels:
{% for key, value in static_config.labels.items() %}
          {{ key }}: {{ value | to_json }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
